/*
Add transition to containers so they can push in and out.
*/
#side-bar,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  background: $mainColor;
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 90;
  width: 1.9em;
  height: auto;
  padding: 15px 10px;
  margin: 10px;
  border-radius: 10px;

  &, * {
    box-sizing: content-box;
  }

  &:hover, &:focus {
    background: #fff;

    span, span:before, span:after {
      background-color: $mainColor;
    }
  }

  span {
    z-index: 91;
    position: relative;
    display: block;

    &, &:before, &:after {
      background-color: #fff;
      width: 100%;
      height: 0.2em;
    }

    &:before, &:after {
      z-index: 92;
      position: absolute;
      margin-top: -0.6em;
      content: " ";
    }

    &:after {
      margin-top: 0.6em;
    }
  }
}

/*
Hides the menu at `68em`, but modify this based on your app's needs.
*/
@media (min-width: 68em) {
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }

  header {
    #top-bar-search {
      display: block;
    }
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 12px;
  }

  #main > #side-bar {
    width: 200px;
    font-size: 13px;
  }
  header #top-bar #top-bar-right > .pure-menu-list > .pure-menu-item > .pure-menu-link, header #top-bar #top-bar-left > .pure-menu-list > .pure-menu-item > .pure-menu-link {
    font-size: 15px;
    padding: 5px 7.5px;
  }

  #main > .content {
    h1, h2, h3, h4, h5, h6 {
      font-size: 20px;
    }

    h2 {
      font-size: 18px;
    }

    h3, h4, h5, h6 {
      font-size: 16px;
      color: #666;
    }
  }
}

@media (max-width: 68em) {
  header {
    #top-bar-search {
      display: none;
    }

    #top-bar-left {
      left: 50px;
    }
  }

  #main {
    display: block;
    position: relative;

    #side-bar {
      display: none;
      z-index: 98;

      &.show {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        height: 100%;
      }
    }
  }

  #main > .content, #footer, #devData {
    margin-left: 0 !important;
  }
}

@media (max-width: 48em) {
  #main #side-bar {
    display: none;
    width: 100%;
    z-index: 98;
    overflow: scroll;

    .pure-menu-heading {
      margin-left: 5px;
    }

    &.show {
      display: block;
      position: fixed;
      top: 0px;
      bottom: 0px;
    }

    .pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
      color: #777;
    }

    .pure-menu-selected {
      background: transparent;
      & > .pure-menu-children {
        display: none;
      }
    }

    .pure-menu-has-children {

      border-left: 5px solid transparent;

      &:hover {
        border-left: 5px solid $secColor;
        background: #fff;
      }

      & > .pure-menu-link:after {
        content: "\25BE"
      }

      &:hover > .pure-menu-children {
        display: list-item;
        text-align: -webkit-match-parent;
        list-style-type: none;
        position: initial;

        .pure-menu-item .pure-menu-link {
          padding-left: 25px;
        }
      }
    }

    &, .pure-menu-selected {
      &, & > .pure-menu-children {
        box-shadow: none;
      }
    }
  }

  #nonProdInfoHeader {
    width: 100%;
    top: auto;
    bottom: 0px;
  }
}